### MINIDOT
###########

/*
!/bash
!/bin
!/tmux
!/vim
!/.gitignore
!/LICENSE
!/README.md
!/restore.sh
!/setup.sh
!/vim.png




### BASH
########

/bash/*
!/bash/.bash_aliases
!/bash/.bash_functions
!/bash/.bash_logout
!/bash/.bash_profile
!/bash/.bashrc
!/bash/.git-prompt.sh
!/bash/.profile




### BIN
#######

/bin/*
!/bin/bin

/bin/bin
!/bin/bin/ffinders
!/bin/bin/md2html
!/bin/bin/pipes
!/bin/bin/rscode
!/bin/bin/rsmime
!/bin/bin/swallow
!/bin/bin/ufetch

/bin/bin/ffinders
!/bin/bin/ffinders/ffm
!/bin/bin/ffinders/swallow




### TMUX
########

/tmux/*
!/tmux/.tmux.conf




### VIM
#######

/vim/*
!/vim/.vim
!/vim/.vimrc
!/vim/.gvimrc

/vim/.vim/*
!/vim/.vim/after
!/vim/.vim/colors
!/vim/.vim/ftplugin
!/vim/.vim/plugin
!/vim/.vim/pandoc

/vim/.vim/after/*
!/vim/.vim/after/ftplugin
!/vim/.vim/after/plugin

/vim/.vim/colors/*
!/vim/.vim/colors/hembox.vim
!/vim/.vim/colors/hemisu.vim

/vim/.vim/ftplugin/*
!/vim/.vim/ftplugin/markdown
!/vim/.vim/ftplugin/markdown.pandoc
!/vim/.vim/ftplugin/pandoc
!/vim/.vim/ftplugin/tex
!/vim/.vim/ftplugin/text

/vim/.vim/plugin/*
!/vim/.vim/plugin/notewiki.vim
!/vim/.vim/plugin/simple-complete.vim
!/vim/.vim/plugin/utility.vim

/vim/.vim/after/ftplugin/*
!/vim/.vim/after/ftplugin/netrw.vim

/vim/.vim/after/plugin/*
!/vim/.vim/after/plugin/netrw.vim

/vim/.vim/ftplugin/markdown/*
!/vim/.vim/ftplugin/markdown/notewiki.vim

/vim/.vim/ftplugin/tex/*
!/vim/.vim/ftplugin/tex/writing-mode.vim

/vim/.vim/pandoc/*
!/vim/.vim/pandoc/assets

/vim/.vim/pandoc/assets/*
!/vim/.vim/pandoc/assets/before.html
!/vim/.vim/pandoc/assets/footer.html
!/vim/.vim/pandoc/assets/header.html
!/vim/.vim/pandoc/assets/link2html.lua
!/vim/.vim/pandoc/assets/link2html.py
!/vim/.vim/pandoc/assets/makenote
